@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    --dark-green: #00494C;
    --light-grey: #F4FAFB;
    --lighter-grey: #C5E4E7;
    --greyish-green: #7F9C9F;
    --green: #26C0AB;
}

body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--lighter-grey);
}

img {
    align-self: center;
    margin: 2% 0;
    width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    width: 60%;
    background-color: white;
    margin: 0 auto;
    height: 60%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    border-radius: 25px;
    text-align: left;
}

.leftSide {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.leftSide h2 {
    display: flex;
    justify-content: space-between;
    color: var(--greyish-green);
}

.leftSide h2 span{
    color: red;
    display: none;
}

.bill {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bill input{
    width: 90%;
    height: 50px;
    border: none;
    outline: none; 
    background-color: var(--light-grey);
    text-align: right;
    font-size: 20px;
    padding: 10px;
    border-radius: 9px;
    color: black;
    font-weight: bold;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

.bill input:focus {
    outline: 3px solid lightblue;
}

.tip {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tip .buttons{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.tip .buttons button {
    padding: 15px 0px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--dark-green);
    color: white;
    transition: 0.15s linear;
}

.tip .buttons button:hover {
    color: var(--dark-green);
    background-color: var(--green);
}

.tip .buttons button.active {
    color: var(--dark-green);
    background-color: var(--green);
}

.tip .buttons input {
    text-align: center;
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    background-color: var(--light-grey);
    color: var(--dark-green);
    border-radius: 10px;
}

.tip .buttons input:focus {
    outline: 3px solid lightblue;
}

.people input{
    width: 90%;
    height: 50px;
    border: none;
    outline: none; 
    background-color: var(--light-grey);
    text-align: right;
    font-size: 20px;
    padding: 10px;
    border-radius: 9px;
    color: black;
    font-weight: bold;
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

.people input:focus {
    outline: 3px solid lightblue;
}

.rightSide {
    width: 40%;
    background-color: var(--dark-green);
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.top {
    height: 85%;
}

.display {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.display h3 {
    color: var(--light-grey);
}

.display p {
    color: #5E7A7D;
}

.display h2 {
    font-size: 30px;
    color: var(--green);
}

.bottom button{
    height: 70px;
    width: 80%;
    border-radius: 25px;
    margin-bottom: 10%;
    background-color: #5E7A7D;
    color: var(--dark-green);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 10px;
    border: none;
    outline: none;
    transition: 0.3s linear;
}

.bottom button.active{
    color: white;
    background-color: var(--green);
    cursor: pointer;
}